.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
}

.dialog-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
