$white: #fff;
$black: #212121;
$light-gray1: #f3f4f6;
$light-gray2: #f5f5f8;
$light-gray3: #f1f2f4;
$light-gray4: #D4D4D4;
$light-gray5: #E8E8E8;
$black-rgba-05: rgba(0, 0, 0, 0.05);
$primary-color: #1F67A6;
$dark-primary-color: #135896;
