@use "../../../assets/style/variables.scss" as *;
.profile-page {
  .avatar-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid $primary-color;
    }
    
    .upload-btn {
      margin-top: 10px;
      font-size: 14px;
      color: $primary-color;
      cursor: pointer;
    }
  }
  
  mat-form-field {
    width: 100%;
    display: block;
    max-width: 750px;
    margin-bottom: 20px;
  }
  
  .action-buttons {
    display: flex;
    gap: 12px;
  }
}