@use '../../../../assets/style/variables.scss' as *;

.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  h1 {
    color: $white;
  }

  .login-right {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    background: $light-gray2;
  }

  .login-card {
    width: 100%;
    max-width: 500px;
    padding: 32px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1.32px;
  }

  .login-btn {
    width: 100%;
    margin-top: 16px;
  }
}

.login-left {
  flex: 0 0 50%;
  max-width: 50%;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    .login-left {
      display: none;
    }

    .login-right {
      justify-content: center;
      padding: 32px;
    }
  }
}
