@use '../../../../../../assets/style/variables.scss' as *;

mat-toolbar.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: $white;
  border-bottom: 1px solid $light-gray5;
  .left-block {
    display: flex;
    gap: 12px;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
    }
  }

  .profile-icon-btn {
    margin-right: 9px;
    &.mat-mdc-icon-button {
      height: 36px !important;
      width: 36px !important;
    }
    .material-icons {
      font-size: 24px !important;
    }
    .mat-icon {
      height: 24px !important;
      width: 24px !important;
    }
  }
}
