<div class="navbar">

  <ul class="menu">
    <li class="active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/user">
        <mat-icon>person</mat-icon>
        <span>Users</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/country">
        <span>Country</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/state">
        <span>State</span>
      </a>
    </li>
  </ul>

</div>