@use '../../../../../../assets/style/variables.scss' as *;

.navbar {
  padding-top: 25px;
  .menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    li {
      a {
        display: flex;
        align-items: center;
        padding: 12px 18px;
        gap: 12px;
        color: $white;
        text-decoration: none;
        transition: all 0.5s;
        border-radius: 2px;
        width: calc(100% - 8px);
        margin: 0 auto;
        mat-icon {
          font-size: 22px;
          color: $white;
          transition: all 0.5s;
        }
        &:hover {
          &:not(.active) {
            background: $dark-primary-color;
          }
        }
      }
      &.active {
        a {
          background: $dark-primary-color;
        }
      }
    }
  }
}
